@import './_mixin.scss';
a {
  text-decoration: none;
}
.btn {
  width: 340px;
  cursor: pointer;
}
.articleTitle,
.articleSubTitle {
  color:#fc0;
  text-align: center;
}
.articleTitle,
.articleTitle-w {
  font-size: 270%;
}
li {
    list-style: none;
}
.fontColorWhite {
  color: #fff;
}
.fontSize {
  font-size: 1.5rem;
  @include display_pc {
    font-size: 2.5rem;
  }
}
.serviceIndex {
  font-size: 2rem;
  margin-bottom: 20px; 
  font-weight: 900;
}
.serviceTitle {
  font-size: 1.3rem; 
  margin: 20px 0;
}
.serviceFont {
  line-height: 1.5;
  font-size: 1.5rem;
}
.contents-display {
  opacity: 0;
}
.move {
  opacity: 1;
  transition: 3.0s;
}