/* 全体 start*/
#creative {
    background-color: #01abcc;
  }
  #access {
    padding: 50px 0 0;
  }
  #footer {
    background-color: #fff;
  }
  #footer p {
    color: #333;
    padding: 15px 0
  }
  .goTopImg {
    margin-bottom: -50px;
  }
/* 全体end */
/* header start  */
.createLpHeader {
    display: flex;
    padding: 20px;
    background-color: #01abcc;
    color: #fff;
    position: relative;
    top: -45px;
    margin-bottom: -45px;

}
.headerLeft {
    display: flex;
}
.CreateLpHeaderImg {
    display: block;
    width: 190px;
}
.headerLeft div {
    padding-top: 10px;
    text-align: left;
}
.headerLeft span {
    font-size: 12px;
}
.headerRight {
    margin-left: 480px;
    padding-top: 10px;
}
.toContactBtn {
    display: inline-block;
    padding: 10px 20px;
    /* margin-right: 20px; */
    background-color: #006172;
    border: 1px solid #006172;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.telNumber {
    font-weight: bold;
    cursor: pointer;
}
/* header end  */
/* top image start  */
.topImage {
    position: relative;
}
.CreateLpMainImg {
    width: 100%;
}
.toContactImg {
    position: absolute;
    right: 25px;
    bottom: 25px;
}
/* top image end  */
/* feature start  */
.title {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
}
h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
ul {
    display: flex;
}
.feature li {
    background-color: rgb(160, 235, 252, 0.5);
    line-height: 1.8;
    width: 25%;
    margin: 0 30px 30px;
    padding: 25px;
}
h3 {
    margin-bottom: 15px;
}
.fontSize25 {
    font-size: 2.5rem;
}
.width275 {
    width: 275px;
}
/* feature end  */
/* work start  */
.smallTitle {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
}
h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
li img{
    border: 5px solid #2dbad5;
    border-radius: 10px;
    width: 80%;
    margin: 15px;
}
/* work end  */
/* corpolateSite start  */
.bgc {
    padding: 0 0 50px;
    border-bottom: 3px solid #fff;

}
.titleColor-w {
    color: #fff;
}
h2::after {
    border-bottom: 2px solid #fff;
}
.underBar::after {
    border: none;
}
.create {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
.corpolateSiteLeft h2{
    margin:0;
}
.creteNumber {
    background-color: #58c9c7;
    border-radius: 50%;
    font-size: 5rem;
    font-weight: bold;
    width: 115px;
    text-align: center;
    line-height: 1.5;
}
.corpolateSiteRight {
    margin-left: 50px;
    position: relative;
}
.imacPosition {
    position: absolute;
    top: 60px;
    left: 140px;
}
.iphonePosition {
    position: absolute;
    top: 175px;
    left: 40px;
}
/* corpolateSite end  */
/* recruitSite start  */
.bgc {
    padding: 50px 0 100px;
    border-bottom: 3px solid #fff;

}
.titleColor-w {
    color: #fff;
}
h2::after {
    border-bottom: 2px solid #fff;
}
.underBar::after {
    border: none;
}
.create {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
.corpolateSiteRight {
    width: 60%;
}
.corpolateSiteRight h2{
    margin:0;
}
.creteNumber {
    background-color: #58c9c7;
    border-radius: 50%;
    font-size: 5rem;
    font-weight: bold;
    width: 115px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: -70px;
    right:0;
}
.corpolateSiteLeft {
    margin-right: 50px;
    position: relative;
    width: 50%;
}
.imacPosition {
    position: absolute;
    top: 0;
    left: -25px;
}
.iphonePosition {
    position: absolute;
    bottom: -20px;
    right: 25px;
}
/* recruitSite end  */
/* ecSite start  */
.bgc {
    padding: 50px 0 100px;
    border-bottom: 3px solid #fff;
}
.titleColor-w {
    color: #fff;
}
h2::after {
    border-bottom: 2px solid #fff;
}
.underBar::after {
    border: none;
}
.create {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
.corpolateSiteLeft h2{
    margin:0;
}
.creteNumber {
    background-color: #58c9c7;
    border-radius: 50%;
    font-size: 5rem;
    font-weight: bold;
    width: 115px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: -30px;
}
.corpolateSiteRight {
    margin-left: 50px;
    position: relative;
    top: -35px;
}
.imacPosition {
    position: absolute;
    top: 60px;
    left: 140px;
}
.iphonePosition {
    position: absolute;
    top: 175px;
    left: 40px;
}
/* ecSite end  */
/* matchingAndPortalSite start  */
.bgc {
    padding: 50px 0 100px;
    border-bottom: 3px solid #fff;

}
.titleColor-w {
    color: #fff;
}
h2::after {
    border-bottom: 2px solid #fff;
}
.underBar::after {
    border: none;
}
.create {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
.corpolateSiteRight {
    width: 60%;
}
.corpolateSiteRight h2{
    margin:0;
}
.creteNumber {
    background-color: #58c9c7;
    border-radius: 50%;
    font-size: 5rem;
    font-weight: bold;
    width: 115px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: -70px;
    right:0;
}
.corpolateSiteLeft {
    margin-right: 50px;
    position: relative;
    width: 50%;
}
.imacPosition {
    position: absolute;
    top: 0;
    left: -25px;
}
.iphonePosition {
    position: absolute;
    bottom: -20px;
    right: 25px;
}
/* matchingAndPortalSite end  */
/* landing start  */
.bgc {
    padding: 50px 0 100px;
    border-bottom: 3px solid #fff;

}
.titleColor-w {
    color: #fff;
}
h2::after {
    border-bottom: 2px solid #fff;
}
.underBar::after {
    border: none;
}
.create {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
.corpolateSiteLeft h2{
    margin:0;
}
.creteNumber {
    background-color: #58c9c7;
    border-radius: 50%;
    font-size: 5rem;
    font-weight: bold;
    width: 115px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: -30px;
}
.corpolateSiteRight {
    margin-left: 50px;
    position: relative;
    top: -35px;
}
.imacPosition {
    position: absolute;
    top: 60px;
    left: 140px;
}
.iphonePosition {
    position: absolute;
    top: 175px;
    left: 40px;
}
/* landing end  */
/* conslation start  */
.conslation p {
    color: #fff;
}
.toContactBtn {
    border: 1px solid #fff;
}
.fontSize25 {
    font-size: 2.5rem;
}
.width275 {
    width: 275px;
}
/* conslation end  */
/* webProduce start  */
.title {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
}
h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
.produce {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.produceLeft {
    text-align:left;
    margin: 20px;
    line-height: 2;
}
.produceLeft span {
    display: block;
    margin-top: 30px;
}
.produceRight img{
    border: 3px solid #01abcc;
    margin: 20px;
    width: 80%
}
/* webProduce end  */
/* codingAndPrograming start  */
.title {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
}
h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
.produce {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.produceLeft {
    text-align:left;
    margin: 20px;
    line-height: 2;
}
.produceLeft span {
    display: block;
    margin-top: 30px;
}
.produceRight img{
    border: 3px solid #01abcc;
    margin: 20px;
    width: 80%
}
/* codingAndPrograming end  */
/* photograph start  */
/* .smallTitle {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
} */
.photograph h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
.photoDetail {
    width: 50%;
    margin: 30px auto;
}
.photograph ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.photograph li img{
    border: 5px solid #2dbad5;
    width: 90%;
    margin: 15px;
}
/* photograph end  */
/* translation start  */

h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
/* translation end  */
/* result start  */
.smallTitle {
    color: #01abcc;
    font-size: 2rem;
    position: relative;
}
h2::after {
    position: absolute;
    left: 48%;
    bottom: -10px;
    content: "";
    width: 50px;
    border-bottom: 2px solid #01abcc;
}
.result ul {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.result li {
    color: #01abcc;
    background-color: #e8eff7;
    padding: 20px 30px;
    margin: 30px;
    border: 3px solid #01abcc;
    border-radius: 15px;
    width: 30%;
}
/* result end  */
/* present start  */
.presentTop {
    position: relative;
}
.presentTop h3 {
    background-color: #01abcc;
    color: #fff;
    display: inline-block;
    padding: 20px;
    border-radius: 70%;
    font-weight: bold;
}
.presentTop h3::after {
    content: "";
    height: 35px;
    width:25px;
    border-left: 10px solid #01abcc;
    border-right: 10px solid #01abcc;
    position: absolute;
    left: 48%;
    top: 15%;
}
.present {
    background-color: #01abcc;
    border-radius: 5px;;
    color: #fff;
    display: flex;
    width:60%;
    margin: 10px auto;
    padding: 20px 30px;
}
.present::after {
    content: "";
    width: 63.5%;
    height: 35%;
    border: 3px solid #fff;
    position: absolute;
    top: 23%;
    left: 228px;
}
.present img {
    background-color: #fff;
    border-radius: 100%;
}
.presentText {
    padding-top: 30px;
    padding-left: 30px;
    line-height: 2;
    font-size: 1.5rem;
}
/* present end  */
/* afterSuport start  */
.after {
    background-color: #01abcc;
    padding: 30px 0;
    color: #fff;

}
.titleColor-w {
    color: #fff;
}
.after h2::after {
    border-bottom: 2px solid #fff;
}
.after h3::after {
    position: absolute;
    left: 8%;
    content: "";
    width: 110px;
    top: 80px;
    border-bottom: 2px solid #fff;
}
.partner::after {
    position: absolute;
    left: 53%;
    content: "";
    width: 110px;
    top: 80px;
    border-bottom: 2px solid #fff;
}

.afterImage {
    padding: 30px 0;
    border-top: 3px solid #fff; 
    border-bottom: 3px solid #fff; 
}
.afterSuport {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.afterSuport div {
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid #fff;
    text-align: left;
}
.afterSuport p {
    line-height: 2;
}
/* afterSuport end  */
