/* companyTop start */
.companyTopImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .companyTop {
    color: #fff;
    margin: 200px auto 300px;
  }
  .companyTop h1 {
    font-size: 40px;
    margin: 0;
  }
  .companyTop p {
    margin: 0;
  }
  /* companyTop end */
  /* FUN IN THE ALL SCENES!! start */
  .companyMissionDetails,
  .ceoMessageDetails,
  .concept,
  .aboutUs,
  .blog {
    display: flex;
    width: 75%;
    margin: auto;
    text-align: left;
  }
  .companyMissionDetailsLeft h1{
    font-size: 270%;
  }
  .companyMissionDetailsLeft p{
    font-size: 80%;
  }
  .companyMissionDetailsRight,
  .ceoMessageRight {
    padding-left: 10%;
    line-height: 170%;
  }
  /* FUN IN THE ALL SCENES!! end */
  /* create rules start */
  .creativeRulesTop {
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }
  .creativeRules {
     padding: 50px 0;
     margin-bottom: -150px;    /* positionで出来た下部の余白を打ち消すため */
  }
  .creativeRuleImg,
  .uniqueRuleImg {
    position: relative;
    top: -170px;
    z-index: -1;
    width: 100%;
  }
  .rulesDetail {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    position: relative;
    top: -300px;
  }
  .rulesDetail span {
    background-color: #01abcc;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    width:30px;
    height:30px;
    line-height: 30px;
    position: relative;
    top: -10px;
  }
  .rulesDetail div {
    width: 400px;
    margin: 20px;
    background-color: #fff;
  }
  .rulesDetail h1 {
    font-weight: normal;
    font-size: 130%;
    margin: 0;
  }
  .rulesDetail1 h1 {
    margin: 8.5% auto;
  }
  .rulesDetail p {
    font-size: 80%;
    margin: 7% 0 0;
  }
  /* create rules end */
  /* concept start */
  .concept {
     width: 65%;
  }
  .conceptLeft {
    width: 200%;
    text-align: left;
  }
  .conceptImg {
    width: 135%;
    margin-left:50px;
  }
  /* concept end */
  /* CEO Message start */
  .ceoMessage {
    margin: 60px;
  }
  .ceoImg {
    width: 100%;
  }
  .ceoMessageDetails {
    margin-top: 60px;
  }
  /* CEO Message end */
  /* about us start */
  .aboutUs {
    margin: 120px auto 100px;
  }
  table {
    margin: 75px 0 0 200px;
    width: 55%;
  }
  tr {
    border-bottom: 1px solid #01abcc;
    display: block;
    margin: 20px 20px 0;
  }
  td:first-child {
    width: 200px;
    text-align: left;
    padding-left: 20px;
  }
  td:nth-child(2){
    width: 250px;
    text-align: left;
  }
  span {
    margin-right: 20px; /*一文字分余白を空けるため*/
  }
  /* about us end */
  /* footer start */
  footer {
    background-color: #01abcc;
  }
  .goTopImg {
    cursor: pointer;
    width:280px;
    height:65px;
    position: relative;
    top: -45px;
  }
  footer p {
    color: #fff;
    margin:0;
    padding-bottom: 30px;
  }
  /* footer end */
  