/* 共通のCSS */
.articleTitle,
.articleSubTitle {
  color: #01abcc;
  text-align: center;
}
.articleTitle-w,
.articleSubTitle-w,
.recruitInfo p,
.companyName {
  color: #fff;
}
.articleTitle,
.articleTitle-w {
  font-size: 270%;
  /* margin:0; */
}
/* .articleSubTitle,
.articleSubTitle-w {
  margin:0 auto 5%;
} */
li {
    list-style: none;
}
.fontColorWhite {
  color: #fff;
}
.fontSize {
  font-size: 2.5rem;
}
.serviceIndex {
  font-size: 4rem;
  position: relative;
  top: 50px;
  left: 35px;
  font-weight: 900;
  color: #fff;
}
.serviceFontSize {
  line-height: 2rem;
  font-size: 1.2rem;
}
.serviceDevelopment,
.service,
.webDevelop {
  width:80%;
  margin: auto;
  /* text-align: left; */
}
.serviceDevelopment img,
.webDevelop img {
  width: 100%;
}
